<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codebaobao.mapper.PsychologicalOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codebaobao.model.PsychologicalOrder">
        <id column="id" property="id"/>
        <result column="order_code" property="orderCode"/>
        <result column="order_type" property="orderType"/>
        <result column="order_date" property="orderDate"/>
        <result column="order_level" property="orderLevel"/>
        <result column="order_grade" property="orderGrade"/>
        <result column="order_starttime" property="orderStarttime"/>
        <result column="order_endtime" property="orderEndtime"/>
        <result column="stu_message" property="stuMessage"/>
        <result column="doctor_message" property="doctorMessage"/>
        <result column="order_status" property="orderStatus"/>
        <result column="rate_rank" property="rateRank"/>
        <result column="doctor_id" property="doctorId"/>
        <result column="student_id" property="studentId"/>
        <result column="area_id" property="areaId"/>
        <result column="room_id" property="roomId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="confict" property="confict"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <resultMap id="pageMap" type="com.codebaobao.modeldo.OrderVo" extends="BaseResultMap">
        <result column="area_name" property="areaName"/>
        <result column="room_name" property="roomName"/>
        <result column="student_name" property="studentName"/>
        <result column="doctor_name" property="doctorName"/>
        <result column="common_phone" property="commonPhone"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="email" property="email"/>
        <result column="tel_phone" property="telPhone"/>
        <result column="doc_tel_phone" property="doctorTelPhone"/>
        <result column="clazz" property="clazz"/>
        <result column="grade" property="grade"/>
        <result column="profess" property="profess"/>
        <result column="collage" property="collage"/>
        <result column="department" property="department"/>
        <result column="stu_no" property="stuNo"/>
    </resultMap>

    <select id="getOrderByKeyWord"   resultMap="pageMap" >
        SELECT orr.*,sa.area_name,r.room_name,s.name AS student_name, s.stu_no,s.profess,s.grade,s.clazz,s.department,s.collage,s.sex,s.email,s.tel_phone,d.doctor_name,d.common_phone,d.tel_phone AS doc_tel_phone ,ptd.name AS typeName
        FROM psychological_order AS orr
        LEFT JOIN school_area AS sa ON sa.id=orr.area_id
        LEFT JOIN psychological_room AS r ON r.id =orr.room_id
        LEFT JOIN student AS s ON s.id =orr.student_id
        LEFT JOIN doctor AS d ON d.id =orr.doctor_id
        LEFT JOIN psychological_type_dic AS ptd ON ptd.id = orr.order_type
        where orr.del_flag = 0
        <if test="ordervo.collage != null and ordervo.collage != ''">
            AND s.collage  like '%${ordervo.collage}%'
        </if>
        <if test="ordervo.orderType != null and ordervo.orderType != ''">
            AND  orr.order_type  = #{ordervo.orderType}
        </if>
        <if test="ordervo.orderDate != null and ordervo.orderDate != ''">
            AND  orr.order_date  = #{ordervo.orderDate}
        </if>
        <if test="ordervo.studentId != null and ordervo.studentId != ''">
            AND  s.id  = #{ordervo.studentId}
        </if>
        <if test="ordervo.orderStatus != null and ordervo.orderStatus != ''">
            AND  orr.order_status  = #{ordervo.orderStatus}
        </if>
        <if test="ordervo.orderStatusStr != null and ordervo.orderStatusStr != ''">
            AND  orr.order_status  in ( ${ordervo.orderStatusStr} )
        </if>
        <if test="ordervo.areaName != null and ordervo.areaName != ''">
            AND  sa.area_name like '%${ordervo.areaName}%'
        </if>
        <if test="ordervo.roomName != null and ordervo.roomName != ''">
            AND  r.room_name = #{ordervo.roomName}
        </if>
        <if test="ordervo.doctorName != null and ordervo.doctorName != ''">
            AND  d.doctor_name like '%${ordervo.doctorName}%'
        </if>
        <if test="ordervo.studentName != null and ordervo.studentName != ''">
            AND  s.name like '%${ordervo.studentName}%'
        </if>
        <if test="ordervo.stuNo != null and ordervo.stuNo != ''">
            AND  s.stu_no like '%${ordervo.stuNo}%'
        </if>
        <if test="ordervo.sex != null and ordervo.sex != ''">
            AND  s.sex like '%${ordervo.sex}%'
        </if>
        <if test="ordervo.age != null and ordervo.age != ''">
            AND  s.age = #{ordervo.age}
        </if>
        <if test="ordervo.email != null and ordervo.email != ''">
            AND  s.email = #{ordervo.email}
        </if>
        <if test="ordervo.telPhone != null and ordervo.telPhone != ''">
            AND  s.tel_phone = #{ordervo.telPhone}
        </if>
        <if test="ordervo.grade != null and ordervo.grade != ''">
            AND  s.grade like '%${ordervo.grade}%'
        </if>
        <if test="ordervo.clazz != null and ordervo.clazz != ''">
            AND  s.clazz = #{ordervo.clazz}
        </if>
        <if test="ordervo.department != null and ordervo.department != ''">
            AND  s.department = #{ordervo.department}
        </if>
        <choose>
            <when test="ordervo.orderBy != null and ordervo.orderBy != ''">
                ORDER BY orr.order_date ASC
            </when>
            <otherwise>
                ORDER BY orr.order_date DESC
            </otherwise>
        </choose>
   </select>


</mapper>
