<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codebaobao.mapper.PsychologicalRoomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codebaobao.model.PsychologicalRoom">
        <id column="id" property="id"/>
        <result column="room_name" property="roomName"/>
        <result column="room_desc" property="roomDesc"/>
        <result column="area_id" property="areaId"/>
    </resultMap>

    <select id="getAllRoomAndAreaInfo" resultType="java.util.HashMap">
        SELECT r.*,a.`area_name`  FROM psychological_room AS r
		LEFT JOIN school_area AS a
		ON r.`area_id` = a.`id`
   </select>

</mapper>
