<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codebaobao.mapper.SchoolAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.codebaobao.model.SchoolArea">
        <id column="id" property="id" />
        <result column="area_name" property="areaName" />
        <result column="address" property="address" />
        <result column="desction" property="desction" />
    </resultMap>

</mapper>
